@font-face {
  font-family: 'UTMAvo';
  src: url('../fonts/utm_avo-webfont.eot');
  src: url('../fonts/utm_avo-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/utm_avo-webfont.woff2') format('woff2'), url('../fonts/utm_avo-webfont.woff') format('woff'), url('../fonts/utm_avo-webfont.ttf') format('truetype'), url('../fonts/utm_avo-webfont.svg#utm_avoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UTMSwiss721BlackCondensed';
  src: url('../fonts/utm_swiss_721_black_condensed-webfont.eot');
  src: url('../fonts/utm_swiss_721_black_condensed-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/utm_swiss_721_black_condensed-webfont.woff2') format('woff2'), url('../fonts/utm_swiss_721_black_condensed-webfont.woff') format('woff'), url('../fonts/utm_swiss_721_black_condensed-webfont.ttf') format('truetype'), url('../fonts/utm_swiss_721_black_condensed-webfont.svg#utm_swiss_721_black_condensRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UTMSwissCondensed';
  src: url('../fonts/utm_swiss_condensed-webfont.eot');
  src: url('../fonts/utm_swiss_condensed-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/utm_swiss_condensed-webfont.woff2') format('woff2'), url('../fonts/utm_swiss_condensed-webfont.woff') format('woff'), url('../fonts/utm_swiss_condensed-webfont.ttf') format('truetype'), url('../fonts/utm_swiss_condensed-webfont.svg#utm_swiss_condensedregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UTMSwissCondensedBold';
  src: url('../fonts/utm_swiss_condensedbold-webfont.eot');
  src: url('../fonts/utm_swiss_condensedbold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/utm_swiss_condensedbold-webfont.woff2') format('woff2'), url('../fonts/utm_swiss_condensedbold-webfont.woff') format('woff'), url('../fonts/utm_swiss_condensedbold-webfont.ttf') format('truetype'), url('../fonts/utm_swiss_condensedbold-webfont.svg#utm_swiss_condensedbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  font-family: 'UTMSwissCondensed', Arial, sans-serif;
}
body {
  background: #2f74b0;
}
a {
  text-decoration: none;
}
footer {
  height: 96px;
  padding-top: 20px;
  background: #000000;
  font-size: 14px;
  color: #ffffff;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.bg-orange {
  background: #f9761e;
}
.bg-yellow {
  background-color: #fff2ae;
}
.bg-green {
  background-color: #7cb591;
}
.bg-darkgray {
  background-color: #2f3333;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row :before,
.row:after {
  content: " ";
  display: table;
}
.row:before {
  display: table;
  content: " ";
}
.row:after {
  clear: both;
}
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.grid-1 {
  width: 8.333333333333334%;
}
.grid-2 {
  width: 16.666666666666668%;
}
.grid-3 {
  width: 25%;
}
.grid-4 {
  width: 33.333333333333336%;
}
.grid-5 {
  width: 41.666666666666664%;
}
.grid-6 {
  width: 50%;
}
.grid-7 {
  width: 58.333333333333336%;
}
.grid-8 {
  width: 66.66666666666667%;
}
.grid-9 {
  width: 75%;
}
.grid-10 {
  width: 83.33333333333333%;
}
.grid-11 {
  width: 91.66666666666667%;
}
.grid-12 {
  width: 100%;
}
.container {
  width: 1170px;
  margin-right: 0;
  margin-left: 0;
}
.container.fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.container {
  margin-right: auto;
  margin-left: auto;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group input {
  float: left;
  display: table-cell;
}
.input-group .input-group-addon {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
}
.input-group .input-group-addon:last-child {
  border-left: 0;
}
.input-group .input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group .input-group-btn > .btn {
  float: left;
  height: 35px;
  position: relative;
  border: none;
  background-color: #7cb591;
  -webkit-box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}
.input-group .input-group-btn:last-child > .btn {
  z-index: 2;
  margin-left: -1px;
}
.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  background: #000000;
}
.nav:before,
.nav:after {
  content: " ";
  display: table;
}
.nav:after {
  clear: both;
}
.nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.nav ul > li {
  float: left;
  position: relative;
  display: block;
}
.nav ul > li > a {
  position: relative;
  display: block;
  line-height: 20px;
  padding: 10px 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}
.nav .nav-bar {
  float: left;
  margin: 0;
}
.nav .logo {
  float: left;
  padding-top: 5px;
  margin-left: 70px;
}
.nav .logo img {
  width: 178px;
  height: 44px;
}
.nav .nav-left {
  float: left;
  margin: 0;
}
.nav .nav-right {
  float: right !important;
  padding: 0;
  text-align: center;
  margin-right: -15px;
}
.nav .nav-right > li > a {
  font-size: 14px;
  font-weight: normal;
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav .nav-right > li:last-child > a {
  width: auto;
  text-transform: none;
}
.nav .nav-right .btn-login {
  color: #f9761e;
  padding: 0px 10px;
  margin-top: 17px;
  margin-right: 10px;
}
.nav .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border-radius: 4px;
  background-clip: padding-box;
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background: rgba(0, 0, 0, 0.2);
  right: 0;
  width: 200px;
}
.nav .dropdown-menu > li {
  float: none;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
.nav .dropdown-menu > li > a {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 2.5;
  border-bottom: 2px solid #fff;
}
.nav .dropdown-menu > li:last-child a {
  border-bottom: none;
}
.nav .open > .dropdown-menu,
.nav li:hover > .dropdown-menu,
.nav li:active > .dropdown-menu,
.nav li:focus > .dropdown-menu {
  display: block;
}
.social-btn-group {
  padding-top: 10px;
  padding-bottom: 14px;
}
.social-btn-group .social-btn {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 15px;
}
.social-btn-group .social-btn.youtube {
  background: url("../images/youtube.png") no-repeat;
}
.social-btn-group .social-btn.facebook {
  background: url("../images/facebook.png") no-repeat;
}
.social-btn-group .social-btn.google-plug {
  background: url("../images/google-plug.png") no-repeat;
}
.social-btn-group .social-btn:last-child {
  margin-right: 0px;
}
.social-btn-group .social-btn {
  background-size: 100% !important;
}
.login-box {
  background: #f9761e;
  border-radius: 11px;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  position: absolute;
  right: 0;
  top: 62px;
  width: 400px;
  padding: 15px;
  display: none;
}
.login-box .login-box-content {
  padding-left: 15px;
  padding-right: 15px;
}
.login-box .login-box-content h1 {
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 10px;
}
.login-box .login-box-content > .input {
  margin-bottom: 5px;
}
.login-box .login-box-content > .input label {
  line-height: 35px;
  text-align: left;
}
.login-box .login-box-content > .input input {
  line-height: 35px;
  height: 35px;
  border: none;
  background-color: #fff2ae;
  -webkit-box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.login-box .login-box-content .checkbox {
  text-align: left;
  margin-left: -5px;
}
.login-box .login-box-content .checkbox label {
  display: inline-block;
}
.login-box .login-box-content .checkbox input {
  display: inline-block;
}
.login-box .login-box-content .forget-link {
  position: absolute;
  bottom: 0px;
  right: 15px;
}
.login-box .login-box-content .social-btn-group .grid-9 div {
  margin-bottom: 5px;
}
.login-box .login-box-content .social-btn-group .grid-9 div:first-child {
  margin-top: 5px;
}
.login-box .login-box-close {
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
  background: url("../images/close-btn.png") no-repeat center;
  background-size: 100%;
}
.icon {
  width: 25px;
  height: 25px;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  display: inline-block;
  vertical-align: middle;
}
.icon.icon-facebook {
  background: url("../images/icons/facebook-dangnhap.png");
}
.icon.icon-google-plug {
  background: url("../images/icons/google-dangnhap.png");
}
.icon.icon-pin {
  background: url("../images/icons/pin.png");
}
.icon.icon-phone {
  background: url("../images/icons/phone.png");
}
.icon.icon-email {
  background: url("../images/icons/email.png");
}
.page {
  min-height: 300px;
  overflow: hidden;
}
.form-control {
  width: 100%;
  border: none;
  background-color: #ffffff;
  -webkit-box-shadow: inset 0px 0px 5px 1px #f9761e;
  -moz-box-shadow: inset 0px 0px 5px 1px #f9761e;
  box-shadow: inset 0px 0px 5px 1px #f9761e;
  padding: 15px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
input.form-control {
  height: 38px;
}
.bottom-logo {
  height: 36px;
}
