@blue: #2F74B0;
@black: #000000;
@white: #fff;
@yellow: #fff2ae;
@orange: #f9761e;
@hard_orange: #843703;
@green: #7cb591;
@darkgray: #2f3333;
@black_opacity: rgba(0, 0, 0, 0.2);
@tim : #0A0628;
@grid-columns: 12;
@grid-gutter-width: 30px;