@font-face {
  font-family: 'Neusa-Regular';
  src: url('../fonts/Neusa-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Neusa-Regular.otf') format('opentype'), url('../fonts/Neusa-Regular.woff') format('woff'), url('../fonts/Neusa-Regular.ttf') format('truetype'), url('../fonts/Neusa-Regular.svg#Neusa-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  font-family: 'Neusa-Regular';
  margin: 0;
  height: 100%;
  overflow: hidden;
  background: #ffdd56;
}
body {
  background: url("../images/background.png") no-repeat center;
  background-size: 100%;
}
body.blue .nav {
  background: #002d64;
}
body.blue .nav ulactive,
body.blue .nav ul > li:hover,
body.blue .nav ul > li:active,
body.blue .nav ul > li:focus {
  background: #000f41;
}
body.blue .nav ulactive > a,
body.blue .nav ul > li:hover > a,
body.blue .nav ul > li:active > a,
body.blue .nav ul > li:focus > a {
  color: #ce8212;
}
a {
  text-decoration: none;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.icon {
  width: 24px;
  height: 24px;
  background-size: 100% !important;
  display: inline-block;
  vertical-align: text-bottom;
}
.icon.icon-facebook {
  background: url("../images/icons/facebook.png") no-repeat center;
}
.icon.icon-instagram {
  background: url("../images/icons/instagram.png") no-repeat center;
}
.icon.icon-youtube {
  background: url("../images/icons/youtube.png") no-repeat center;
}
.icon.icon-google-plug {
  background: url("../images/icons/google-plug.png") no-repeat center;
}
.icon.icon-house {
  background: url("../images/icons/house.png") no-repeat center;
  width: 19px;
}
.icon.icon-trong {
  background: url("../images/icons/trong.png") no-repeat center;
  width: 15px;
}
.icon.icon-chieng {
  background: url("../images/icons/cheng.png") no-repeat center;
  width: 20px;
}
.icon.icon-dui {
  background: url("../images/icons/dui.png") no-repeat center;
  width: 14px;
}
.icon.icon-search {
  background: url("../images/icons/search.png") no-repeat center;
}
.page {
  height: 100%;
  margin-bottom: 50px;
}
.container {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 35px;
  width: 1024px;
  margin: 0 auto;
}
.top-social {
  display: inline-block;
  z-index: 100;
  position: relative;
}
.top-social a {
  display: inline-block;
}
.top-social .icon {
  width: 22px;
  height: 22px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.top-search-box {
  float: right;
  background: url("../images/bg-search.png") no-repeat center;
  background-size: 100%;
  width: 192px;
  height: 30px;
  position: relative;
}
.top-search-box input {
  margin: 5px 0px 5px 5px;
  height: 20px;
  display: inline-block;
  width: 147px;
  border: none;
  padding: 0px 0px 0px 10px;
  float: left;
}
.top-search-box button {
  margin: 5px 0px 5px 0px;
  height: 20px;
  border: none;
  display: inline-block;
  background: none;
  float: left;
}
.top-search-box button .icon {
  height: 16px;
  width: 12px;
}
.nav {
  height: 40px;
  background: #fcecab;
  text-align: center;
  margin-top: 20px;
  position: absolute;
  z-index: 100;
  width: 100%;
}
.nav .logo {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}
.nav .logo img {
  width: 142px;
  height: 142px;
}
.nav > .container {
  padding: 0 50px;
  position: relative;
  height: 100%;
}
.nav ul {
  list-style: none;
  position: relative;
}
.nav ul > li {
  display: inline-block;
  position: relative;
}
.nav ul > li:hover,
.nav ul > li:active,
.nav ul > li:focus,
.nav ul > li.active,
.nav ul > li.dropdown:hover,
.nav ul > li.dropdown:active,
.nav ul > li.dropdown:focus {
  background: #ce8212;
}
.nav ul > li:hover > a,
.nav ul > li:active > a,
.nav ul > li:focus > a,
.nav ul > li.active > a,
.nav ul > li.dropdown:hover > a,
.nav ul > li.dropdown:active > a,
.nav ul > li.dropdown:focus > a {
  color: #fcecab;
}
.nav ul > li:hover > .dropdown-menu,
.nav ul > li:active > .dropdown-menu,
.nav ul > li:focus > .dropdown-menu,
.nav ul > li.active > .dropdown-menu,
.nav ul > li.dropdown:hover > .dropdown-menu,
.nav ul > li.dropdown:active > .dropdown-menu,
.nav ul > li.dropdown:focus > .dropdown-menu {
  display: block;
}
.nav ul > li > a {
  position: relative;
  display: block;
  line-height: 40px;
  padding: 0px 15px;
  color: #ce8212;
  text-transform: uppercase;
  font-weight: 700;
}
.nav .nav-left,
.nav .nav-right {
  width: 50%;
  padding: 0;
  margin: 0px;
}
.nav .nav-left {
  float: left;
  text-align: left;
}
.nav .nav-left > li {
  margin-right: 100px;
}
.nav .nav-right {
  float: right;
  text-align: right;
}
.nav .nav-right > li {
  margin-left: 100px;
}
.nav .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  padding: 0;
  list-style: none;
  font-size: 12px;
  right: 0;
  width: 150px;
}
.nav .dropdown-menu > li {
  float: none;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  border-bottom: 1px solid #000000;
  white-space: nowrap;
  background: #ce8212;
}
.nav .dropdown-menu > li > a {
  color: #000000;
  display: block;
  padding: 3px 0;
  clear: both;
  font-weight: normal;
  line-height: 2.5;
}
.nav .dropdown-menu > li:first-child {
  margin-top: 21px;
}
.nav .dropdown-menu > li:first-child:before {
  content: ' ';
  height: 21px;
  width: 100%;
  border-bottom: none;
  background: url("../images/menu-arrow.png") no-repeat bottom;
  background-size: auto 100%;
  background-position-x: 10px;
  display: block;
  position: absolute;
  top: -21px;
  z-index: 100;
}
.nav .dropdown-menu > li:last-child {
  border-bottom: none;
}
.nav .dropdown-menu > li.active,
.nav .dropdown-menu > li:hover,
.nav .dropdown-menu > li:active,
.nav .dropdown-menu > li:focus {
  background: #b86500;
}
.nav .dropdown-menu > li.active > a,
.nav .dropdown-menu > li:hover > a,
.nav .dropdown-menu > li:active > a,
.nav .dropdown-menu > li:focus > a {
  color: #fcecab;
}
.back-ground {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.back-ground .layer {
  width: 100%;
  height: 100%;
  position: absolute;
}
.back-ground .layer.layer-1 {
  z-index: 1;
}
.back-ground .layer.layer-2 {
  z-index: 2;
}
.back-ground .layer.layer-3 {
  z-index: 3;
}
.back-ground .layer.layer-4 {
  z-index: 4;
}
.back-ground .layer.layer-5 {
  z-index: 5;
}
.back-ground .layer.layer-6 {
  z-index: 6;
}
.back-ground .layer.layer-7 {
  z-index: 7;
}
.back-ground .layer.layer-8 {
  z-index: 8;
}
.back-ground .layer.layer-9 {
  z-index: 9;
}
.back-ground .layer.layer-10 {
  z-index: 10;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #9c4200;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  line-height: 20px;
  padding: 5px;
  z-index: 11;
}
