@import "variable.less";
@import "functions";

@font-face {
  font-family: 'Neusa-Regular';
  src: url('../fonts/Neusa-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Neusa-Regular.otf') format('opentype'),
  url('../fonts/Neusa-Regular.woff') format('woff'), url('../fonts/Neusa-Regular.ttf') format('truetype'), url('../fonts/Neusa-Regular.svg#Neusa-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SVN-AgencyFB';
  src: url('../fonts/SVN-AgencyFB.eot?#iefix') format('embedded-opentype'), url('../fonts/SVN-AgencyFB.woff') format('woff'),
  url('../fonts/SVN-AgencyFB.ttf') format('truetype'), url('../fonts/SVN-AgencyFB.svg#SVN-AgencyFB') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-family: 'Neusa-Regular';
  margin: 0;
  height: 100%;
  overflow: hidden;
  background: @yellow;
}

body {
  background: url("../images/background.png") no-repeat center;
  background-size: 100%;
  &.blue {
    .nav {
      background: @blue;
      & > .container > ul {
        & > li.active, & > li:hover, & > li:active, & > li:focus {
          background: @hard-blue;
          & > a {
            color: @dark-yellow;
          }
        }
      }
    }
  }
}

a {
  text-decoration: none;
}

.hide {
  display: none;
}

.hide-a {
  .use-animation(fade-out, 500ms, 1, linear);
}

.show {
  .use-animation(fade-in, 500ms, 1, linear);
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.icon {
  width: 24px;
  height: 24px;
  background-size: 100% !important;
  display: inline-block;
  vertical-align: text-bottom;

  &.icon-facebook {
    background: url("../images/icons/facebook.png") no-repeat center;
  }
  &.icon-instagram {
    background: url("../images/icons/instagram.png") no-repeat center;
  }
  &.icon-youtube {
    background: url("../images/icons/youtube.png") no-repeat center;
  }
  &.icon-google-plug {
    background: url("../images/icons/google-plug.png") no-repeat center;
  }
  &.icon-house {
    background: url("../images/icons/house.png") no-repeat center;
    width: 19px;
  }
  &.icon-trong {
    background: url("../images/icons/trong.png") no-repeat center;
    width: 15px;
  }
  &.icon-chieng {
    background: url("../images/icons/cheng.png") no-repeat center;
    width: 20px;
  }
  &.icon-dui {
    background: url("../images/icons/dui.png") no-repeat center;
    width: 14px;
  }
  &.icon-search {
    background: url("../images/icons/search.png") no-repeat center;
  }

}

.page {
  height: 100%;
  margin-bottom: 50px;
}

.container {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 35px;
  width: 1024px;
  margin: 0 auto;
}

.top-social {
  display: inline-block;
  z-index: 100;
  position: relative;
  a {
    display: inline-block;
  }
  .icon {
    width: 22px;
    height: 22px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;;
  }
}

.top-search-box {
  float: right;
  background: url("../images/bg-search.png") no-repeat center;
  background-size: 100%;
  width: 192px;
  height: 30px;
  position: relative;
  input {
    margin: 5px 0px 5px 5px;
    height: 20px;
    display: inline-block;
    width: 147px;
    border: none;
    padding: 0px 0px 0px 10px;
    float: left;
  }
  button {
    margin: 5px 0px 5px 0px;
    height: 20px;
    border: none;
    display: inline-block;
    background: none;
    float: left;
    .icon {
      height: 16px;
      width: 12px;
    }
  }
}

.nav {
  height: 40px;
  background: @light-yellow;
  text-align: center;
  margin-top: 20px;
  position: absolute;
  z-index: 100;
  width: 100%;
  .logo {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    img {
      width: 142px;
      height: 142px;
    }
  }
  & > .container {
    padding: 0 50px;
    position: relative;
    height: 100%;
    & > ul {

    }
  }
  ul {
    list-style: none;
    position: relative;
    & > li {
      display: inline-block;
      position: relative;
      &.active {
        background: @dark-yellow;
        & > a {
          color: @light-yellow;
        }
      }
      &:hover, &:active, &:focus,
      &.dropdown:hover, &.dropdown:active, &.dropdown:focus {
        background: @dark-yellow;
        & > a {
          color: @light-yellow;
        }
        & > .dropdown-menu {
          display: block;
        }
      }

      > a {
        position: relative;
        display: block;
        line-height: 40px;
        padding: 0px 15px;
        color: @dark-yellow;
        text-transform: uppercase;
        font-weight: 700;
      }
    }
  }
  .nav-left, .nav-right {
    width: 50%;
    padding: 0;
    margin: 0px;
  }
  .nav-left {
    float: left;
    text-align: left;
    & > li {
      margin-right: 100px;
    }
  }
  .nav-right {
    float: right;
    text-align: right;
    & > li {
      margin-left: 100px;
    }
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    padding: 0;
    list-style: none;
    font-size: 12px;
    right: 0;
    width: 150px;
    font-family: 'SVN-AgencyFB';
    & > li {
      float: none;
      text-align: left;
      padding-left: 10px;
      padding-right: 10px;
      display: block;
      border-bottom: 1px solid @black;
      white-space: nowrap;
      background: @dark-yellow;
      & > a {
        color: @black;
        display: block;
        padding: 3px 0;
        clear: both;
        font-weight: normal;
        line-height: 2.5;
        text-transform: none;
      }
      &:first-child {
        margin-top: 21px;
        &:before {
          content: ' ';
          height: 21px;
          width: 100%;
          border-bottom: none;
          background: url("../images/menu-arrow.png") no-repeat bottom;
          background-size: auto 100%;
          background-position-x: 10px;
          display: block;
          position: absolute;
          top: -21px;
          z-index: 100;
        }
      }
      &:last-child {
        border-bottom: none;
      }
      &.active, &:hover, &:active, &:focus {
        background: @meta-yellow;
        & > a {
          color: @light-yellow;
        }
      }
    }
  }

}

.back-ground {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%;
  .layer {
    width: 100%;
    height: 100%;
    position: absolute;

    .generate-layers(@n, @i: 1) when (@i =< @n) {
      &.layer-@{i} {
        z-index: @i;
      }
      .generate-layers(@n, (@i + 1));
    }
    .generate-layers(10);
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: @brown;
  font-size: 18px;
  color: @white;
  text-align: center;
  line-height: 20px;
  padding: 5px;
  z-index: 11;
}